/* Général */
p{
 color: red;
}

h2{
  font-family: Lobster,serif;
}

h3{

}

/*Présentation*/
header{
  background-color: #5DB360;
  size:
}

/*Formation*/



/*Expériences*/


/*Compétence*/



/*centre d'intéret*/
